@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    a {
        @apply text-pink-500;
    }
}

@layer components {
    .button {
        @apply 
            bg-slate-50
            border
            border-slate-700 
            cursor-pointer 
            px-4 
            py-2
            rounded
            inline-block
            text-center
            disabled:border-slate-400
            disabled:cursor-auto
            disabled:text-slate-500;
    }
    .button-shadow {
        @apply 
        shadow-[3px_3px_black]
        active:shadow-[2px_2px_black]
        disabled:shadow-slate-500 disabled:shadow-[3px_3px_black];
    }
    .button-text {
        @apply shadow-none border-transparent;
    }
    .button-dense {
        @apply px-2 py-1;
    }
}
